<div class="container text-center">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-5" id="welcome">
      <h1 id="title-welcome">Bem vindo!</h1>
      <div class="p-4 mx-4">
        <p id="label-personal-informations">Para se conectar conosco, por favor, faça login com suas informações
          pessoais</p>
      </div>
      <button type="button" class="btn btn-lg btn-outline-primary col-6"> Entrar </button>
    </div>
    <div class="col-md-7 py-5" id="register-account">
      <div class="py-5">
        <h1 id="title-create-account">Cadastrar conta</h1>
        <div class="m-3">
          <i class="bi bi-facebook mx-4"></i>
          <i class="bi bi-google mx-4"></i>
          <i class="bi bi-linkedin mx-4"></i>
        </div>
        <p>Ou use sua rede social ou seu email para registrar-se</p>
        <form #form="ngForm">
          <div class="m-5 px-5">
            <div class="m-4 px-5">
              <input class="form-control" type="text" placeholder="Nome completo" aria-label="default input example">
            </div>
            <div class="m-4 px-5">
              <input class="form-control" type="text" placeholder="E-mail" aria-label="default input example">
            </div>
            <div class="m-4 px-5">
              <input class="form-control" type="password" placeholder="Senha" aria-label="default input example">
            </div>
            <div class="m-5">
              <button type="button" class="btn btn-lg btn-outline-success col-5" (click)="send(form)"> Cadastrar-se </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>