<div class="container-fluid text-center h-100">

  <div class="row justify-content-evenly align-items-center h-100">

    <div class="col-lg-7">

      <div class="card">

        <div class="row g-0">

          <div class="col-6 col-md-5" id="welcome" [hidden]="this.visibilityOfForm">

            <div class="py-5">

              <div class="py-5">

                <div class="py-3">
                  <h1 id="title-welcome">Bem vindo!</h1>
                </div>

                <div class="py-5 mx-4">

                  <p id="label-personal-informations">Para se conectar conosco, por favor, faça login com suas informações pessoais</p>

                </div>

                <div class="py-1">

                  <button type="button" class="btn btn-lg btn-primary col-6" (click)="this.hiddenForm()"> Cadastrar-se </button>

                </div>

              </div>

            </div>

          </div>

          <div class="col-6 col-md-5" id="welcome" [hidden]="!this.visibilityOfForm">

            <div class="py-5">

              <div class="py-5">

                <div class="py-3">
                  <h1 id="title-welcome">Vamos lá!</h1>
                </div>

                <div class="py-5 mx-4">

                  <p id="label-personal-informations">Cadastre suas informações pessoais para criarmos uma conta de usuário</p>

                </div>

                <div class="py-1">

                  <button type="button" class="btn btn-lg btn-primary col-6" (click)="this.hiddenForm()"> Entrar </button>

                </div>

              </div>

            </div>

          </div>

          <div class="col-6 col-md-7">

            <div class="py-4" [hidden]="!this.visibilityOfForm">

              <div class="py-2">
                <h1 id="title-create-account">Cadastrar conta</h1>
              </div>
              
              <div class="container m-3">

                <div class="row justify-content-center">

                  <div class="col-2">

                    <div class="mb-3">

                      <button (click)="loginWithFacebook()" class="btn btn-outline-primary btn-sm">
                        <i class="bi bi-facebook"></i>
                      </button>
                      
                    </div>

                  </div>
                  
                  <div class="col-2">

                    <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>

                  </div>

                </div>

              </div>

              <div class="pt-1">
                <p>Ou use sua rede social ou seu email para registrar-se</p>
              </div>

              <form [formGroup]="userAccountForm" #form="ngForm" (ngSubmit)="onSubmit(form)">
                
                <div class="m-5 px-5">

                  <div class="m-4 px-5">

                    <input ngModel required class="form-control" type="text" placeholder="Nome completo" aria-label="default input example" formControlName="name">

                    <div class="text-start">
                      <p class="error-message" *ngIf="userAccountForm.get('name')?.errors?.['required'] && userAccountForm.get('name')?.touched"> Nome é obrigatório </p>
                    </div>

                    <div class="text-start">
                      <p class="error-message" *ngIf="userAccountForm.get('name')?.errors?.['minlength'] && userAccountForm.get('name')?.touched"> O nome completo tem que ter pelo menos 6 caracteres </p>
                    </div>

                  </div>

                  <div class="m-4 px-5">

                    <input ngModel required class="form-control" type="text" placeholder="E-mail"
                      aria-label="default input example" formControlName="email">

                    <div class="text-start">
                      <p class="error-message" *ngIf="userAccountForm.get('email')?.errors?.['required'] && userAccountForm.get('email')?.touched"> Email é obrigatório </p>
                    </div>

                    <div class="text-start">
                      <p class="error-message" *ngIf="userAccountForm.get('email')?.errors?.['email'] && userAccountForm.get('email')?.touched"> Email inválido </p>
                    </div>

                  </div>

                  <div class="m-4 px-5">

                    <input ngModel required class="form-control" type="password" placeholder="Senha" aria-label="default input example" formControlName="password">

                    <div class="text-start">
                      <p class="error-message" *ngIf="userAccountForm.get('password')?.errors?.['required'] && userAccountForm.get('password')?.touched"> Senha é obrigatório </p>
                    </div>

                    <div class="text-start">
                      <p class="error-message" *ngIf="userAccountForm.get('password')?.errors?.['minlength'] && userAccountForm.get('password')?.touched"> A senha tem que ter pelo menos 6 caracteres </p>
                    </div>

                  </div>

                  <div class="m-5">

                    <button type="submit" [disabled]="!this.userAccountForm.valid" class="btn btn-lg btn-success col-10"> Cadastrar-se </button>

                  </div>

                </div>

              </form>

            </div>

            <div class="py-4" [hidden]="this.visibilityOfForm">

              <div class="py-4">

                <h1 id="title-create-account">Acessar o Retrô</h1>

                <div class="container m-3">

                  <div class="row justify-content-center">

                    <div class="col-2">

                      <div class="mb-3">

                        <button (click)="loginWithFacebook()" class="btn btn-outline-primary btn-sm">
                          <i class="bi bi-facebook"></i>
                        </button>
                        
                      </div>

                    </div>
                    
                    <div class="col-2">

                      <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>

                    </div>

                  </div>

                </div>

                <p>Ou use seu email e senha para acessar</p>

                <div class="px-5">

                  <form #form="ngForm" [formGroup]="formLogin" (ngSubmit)="onSubmit(form)">

                    <div class="m-5 px-5">

                      <input class="form-control" formControlName="email" type="text" placeholder="E-mail" aria-label="default input example">

                      <div class="text-start">
                        <p class="error-message" *ngIf="formLogin.get('email')?.errors?.['required'] && formLogin.get('email')?.touched"> Email é obrigatório </p>
                      </div>

                      <div class="text-start">
                        <p class="error-message" *ngIf="formLogin.get('email')?.errors?.['email'] && formLogin.get('email')?.touched"> Email inválido </p>
                      </div>
                      
                    </div>

                    <div class="m-5 px-5">

                      <input class="form-control" formControlName="password" type="password" placeholder="Senha" aria-label="default input example">

                      <div class="text-start">
                        <p class="error-message" *ngIf="formLogin.get('password')?.errors?.['required'] && formLogin.get('password')?.touched"> Senha é obrigatório </p>
                      </div>

                      <div class="text-start">
                        <p class="error-message" *ngIf="formLogin.get('password')?.errors?.['minlength'] && formLogin.get('password')?.touched"> A senha tem que ter pelo menos 6 caracteres </p>
                      </div>

                    </div>

                    <div class="m-5 px-5">

                      <button type="submit" [disabled]="!formLogin.valid" class="btn btn-lg btn-success col-10"> Entrar </button>

                    </div>

                  </form>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>