#welcome {
  background-color: rgb(121, 169, 240);
  border-radius: 2% 0% 0% 2%;
}

#register-account {
  border: 0.05em solid rgb(202, 201, 201);
  border-radius: 0% 2% 2% 0%;
}

#title-welcome, #label-personal-informations {
  color: white;
}