<app-navigation-bar></app-navigation-bar>

<div class="container-fluid h-75">

  <div class="row align-items-center justify-content-center p-4">

    <div class="col-4">

      <div class="row text-center">
        <h2> Overview </h2>
      </div>

      <div class="row text-center">
        <h4> Visão geral das retrospectivas </h4>
      </div>

    </div>

    <div class="col-2">

      <div class="row text-center">

        <div class="col-12">

          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-new-retrospective"> Nova retrospectiva </button>

          <app-modal-new-retrospective></app-modal-new-retrospective>

        </div>

      </div>

    </div>

    <div class="col-6">

    </div>

  </div>

  <div class="row align-items-start justify-content-center">

    <div class="col-6">
      
      <app-all-retrospectives></app-all-retrospectives>

    </div>

    <div class="col-1"></div>

    <div class="col-4 p-1">
      
      <app-actions-burndown></app-actions-burndown>

    </div>

  </div>

  <div class="row align-items-start justify-content-center">

    <div class="col-12">
      
      <app-listed-actions></app-listed-actions>

    </div>

  </div>


</div>